[auth]
user_name={username for the cloud account}
api_key={api key for the user}
base_url=https://identity.api.rackspacecloud.com/v2.0
use_service_catalog=False

[deuce]
base_url={deuce url}
use_auth=False
version=v1.0
skip_diagnostics=False
soft_vault_list_validation=False

[storage]
internal_url=True
region={specific region}
